REGION=your-preferred-region
ACCOUNT_ID=your-aws-acc-id

# vpc config
VPC_NAME=AquaInsight-VPC
CIDR_BLOCK=10.0.0.0/16
SECURITY_GROUP_NAME=AquaInsight-SG
SUBNET_CIDR_BLOCKS=10.0.1.0/24,10.0.2.0/24

# ecs config
ECS_CLUSTER_NAME=AquaInsight-Cluster
ECS_SERVICE_NAME=AquaInsight-Service
ECS_TASK_FAMILY=AquaInsight-Task
ECR_REPOSITORY=aquainsight-repo
LOG_GROUP=/aws/ecs/aquainsight

# IoT Configuration
ENDPOINT=your-iot-endpoint.iot.region.amazonaws.com